apiVersion: apps/v1
kind: Deployment
metadata:
  name: wisecow-deployment
  labels:
    app: wisecow
spec:
  replicas: 2
  selector:
    matchLabels:
      app: wisecow
  template:
    metadata:
      labels:
        app: wisecow
    spec:
      imagePullSecrets:
        - name: wisecow-secret-dockerconfig
      containers:
      - name: wisecow
        image: sanchit021/wisecow:latest
        ports:
        - containerPort: 4499

        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "250m"
            memory: "256Mi"
        env:
        - name: DOCKERHUB_USERNAME
          valueFrom:
            configMapKeyRef:
              key: DOCKER_USERNAME
              name: wisecow-config
